<!-- Footer -->
<div id="featured">
    <div class="container">
        <div class="row">
            <div class="4u">
                <h2>小水滴FED</h2>
                <a href="#" class="image full"><img src="../public/images/pic01.jpg" alt="" /></a>
                <p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
                <p><a href="#" class="button">了解更多</a></p>
            </div>
            <div class="4u">
                <h2>小水滴UED</h2>
                <a href="#" class="image full"><img src="../public/images/pic02.jpg" alt="" /></a>
                <p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
                <p><a href="#" class="button">了解更多</a></p>
            </div>
            <div class="4u">
                <h2>小水滴数据中心</h2>
                <a href="#" class="image full"><img src="../public/images/pic03.jpg" alt="" /></a>
                <p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
                <p><a href="#" class="button">了解更多</a></p>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<!--<div id="footer">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="4u">-->
                <!--<section>-->
                    <!--<h2>最新发布</h2>-->
                    <!--<ul class="default">-->
                        <!--<li><a href="#">Pellentesque lectus gravida blandit</a></li>-->
                        <!--<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>-->
                        <!--<li><a href="#">Phasellus nibh pellentesque congue</a></li>-->
                        <!--<li><a href="#">Cras vitae metus aliquam pharetra</a></li>-->
                        <!--<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>-->
                    <!--</ul>-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="4u">-->
                <!--<section>-->
                    <!--<h2>热门文章</h2>-->
                    <!--<ul class="default">-->
                        <!--<li><a href="#">Pellentesque lectus gravida blandit</a></li>-->
                        <!--<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>-->
                        <!--<li><a href="#">Phasellus nibh pellentesque congue</a></li>-->
                        <!--<li><a href="#">Cras vitae metus aliquam pharetra</a></li>-->
                        <!--<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>-->
                    <!--</ul>-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="4u">-->
                <!--<section>-->
                    <!--<h2>行业相关</h2>-->
                    <!--<ul class="default">-->
                        <!--<li><a href="#">Pellentesque lectus gravida blandit</a></li>-->
                        <!--<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>-->
                        <!--<li><a href="#">Phasellus nibh pellentesque congue</a></li>-->
                        <!--<li><a href="#">Cras vitae metus aliquam pharetra</a></li>-->
                        <!--<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>-->
                    <!--</ul>-->
                <!--</section>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Copyright -->
<div id="copyright">
    <div class="container">
        版权所属<a href="http://www.shuidiguanjia.com/" target="_blank" title="水滴管家">水滴管家</a>研发部
    </div>
</div>

</body>
</html>