<%- include header %>
<div id="main">
    <div class="container">
        <div class="row">
            <form id="log_reg" method="post">
                <h1>欢迎登录</h1>
                <input type="text" placeholder="输入用户名" name="name"/>
                <input type="password" placeholder="输入密码" name="password"/>
                <input type="submit" value="登录"/>
            </form>
        </div>
    </div>
</div>
<%- include footer %>